
h1{
  text-align: center;
}

#center {
  width: 600px; 
  margin: auto; 
  
  padding: 20px;
  border-style: solid;
  border-color: #ba3c3c;
  border-radius: 20px;
 
}

footer{
  text-align: center;
}

body{
    background-color: #ddd4b0;
}

ul li{
    list-style-type: square;
    margin-bottom: 20px;
    margin-left: 50px;
}
