#center {
  width: 400px; 
  margin: auto; 
  
  /* Optional Styling */
  padding: 20px;
  border-style: solid;
  border-color: #B6C7D6;
  border-radius: 20px;
  background-color: #EAF0F6;
 
}


body{
    background-color: #ddd4b0;
}

ul li{
    list-style-type: square;
    margin-bottom: 20px;
    margin-left: 50px;
}
