* {
    box-sizing: border-box;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #292929;
  }
  
  body, .quote-input {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 17pt;
  }
  
  .container {
    background-color: #292929;
    padding: 1rem;
    border-radius: .5rem;
    width: 800px;
    max-width: 90%;
  }
  
  
  .quote-display {
    margin-bottom: 1rem;
    margin-left: calc(1rem + 2px);
    margin-right: calc(1rem + 2px);
    color: #616161;
  }
  
  .quote-input {
    background-color: transparent;
    border: 2px solid #99b898;
    outline: none;
    width: 100%;
    height: 8rem;
    margin: auto;
    resize: none;
    padding: .5rem 1rem;
    font-size: 1rem;
    border-radius: .5rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 17pt;
    color: #8A6D57;
  }
  
  .quote-input:focus {
    border-color: #2a363b;
  }
  
  .correct {
    color: #fecea8;
  }
  
  .incorrect {
    color: #ff6961;
    text-decoration: underline;
  }

  .restart-button {
    background-color: #2a363b; /* Green */
  border: none;
  color: #99b898;
  padding: 7.5px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  }